<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"/>
<body>

<div class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="SiLA Cloud Timer Service Client">
        </a>
    </nav>
</div>

</body>
</html>